/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img{
	max-width: 100%;
	height: auto ;
}
/* css end */

.clearfix:after{
    clear: both;
    content:'';
    display:table;
}/*增加 :after 偽元素、content 及 display*/

.wrap{
  max-width: 960px;
  margin: 0 auto;
  background-color: #EFE9E7;
}

@media(max-width:768px){
    .wrap{
        max-width: 768px;
        margin: 0 auto  ;
      }
}
@media(max-width:414px){
    .wrap{
        max-width: 414px;
        margin: 0 auto;
      }
}

.header{
  position: relative;
  width: 100%;
  background-color: black;
}
.logo{
    position: absolute;
    top: 20px;
    left: 30px;
    
}
.logo a{
    display: block; 
    width: 120px;
    height: 40px;
    background: url("../Hexrestaurant/img/logo_w@svg.svg") no-repeat;
    overflow: hidden;
    text-indent: 101%;
    border-radius: 10%;
    white-space: nowrap;
    cursor: pointer;
}
@media(max-width: 768px){
    .logo{
      top: 18px;
      left: 20px;
      background: url("../Hexrestaurant/img/logo_w@svg.svg")no-repeat;
    }
}
@media (max-width: 414px){
    .logo{
      width: 120px;
      height: 40px;
      top: 0px;
      left: 0px;
      background: url("../Hexrestaurant/img/logo_w@svg.svg")no-repeat;
    }
}

.showmenu{
    display:none;
}
.menu{
    float: right;
}
.menu li{
    float:left;
    width: 140px;
    height: 60px;
    padding: 3px;
    margin: 5px;
    border-bottom: 3px solid transparent;
}
.menu li a{
    display: block;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.fa-hamburger{
    color: #ffff;
}
.header ul li:hover{
   background-color: rgb(80, 69, 65,0.5);
   border-bottom: 3px solid orange;
}
@media (max-width: 414px){
    .menu{
    max-height: 0px;
    overflow: hidden;
    transition:all 1s;
    margin-top: 1px;    
    position: absolute;
    z-index: 100;   
    top: 50px;
    left: 0;
    right: 0;
    background-color: black;
   
    }
    .menu li{
    float: none;
    display: block;
    width: 100%;
    margin: 0;
    border-bottom: 3px solid orange;
    }
    .menu li a{
    transition: all 0.3s;
    }
    /* 增加touch等效果 */
    .header ul li:hover{
    background-color: rgb(80, 69, 65,0.5);
    border-bottom: 3px solid orange;}
    .showmenu{
    display: block;
    float: right;
    width:50px;
    height:50px;
    background: url("../Hexrestaurant/img/iconfinder_menu-alt_134216.png")top left / 100% 100% no-repeat ;
    background-color: white;
    margin: 0.5px;
    }
    /*jQ點擊後動態在 body 加上 class */
    .menu-show .menu{
    max-height: 300px;
    }
}
@media (max-width: 768px){
    .menu{
    max-height: 0px;
    overflow: hidden;
    transition:all 1s;
    margin-top: 1px;    
    position: absolute;
    z-index: 100;   
    top: 50px;
    left: 0;
    right: 0;
    background-color: black;
   
    }
    .menu li{
    float: none;
    display: block;
    width: 100%;
    margin: 0;
    border-bottom: 3px solid orange;
    }
    .menu li a{
    transition: all 0.3s;
    }
    /* 增加touch等效果 */
    .header ul li:hover{
    background-color: rgb(80, 69, 65,0.5);
    border-bottom: 3px solid orange;}
    .showmenu{
    display: block;
    float: right;
    width:50px;
    height:50px;
    background: url("../Hexrestaurant/img/iconfinder_menu-alt_134216.png")top left / 100% 100% no-repeat ;
    background-color: white;
    margin: 0.5px;
    }
    /*jQ點擊後動態在 body 加上 class */
    .menu-show .menu{
    max-height: 358px;
    }
}


.banner{
    display: block;
    background: url("../Hexrestaurant/img/header_desktop.png")no-repeat;
    width: 100%;
    height: 380px;
    margin: 0 auto;
}
.solgan{
    position: relative;
    text-align: center;
    width: 400px;
    height: 150px;
    left: 50%;
    transform: translate(-50%,50%);
    background:rgba(0,0,0,0.5);
}

.solgan h2{
    font-size: 30px;
    color: white;
    padding: 5px;
}
.solgan p{
    font-size: 20px;
    color: white;
    padding: 10px;
}
@media (max-width: 768px){
    .banner{
    display: block;
    width: 100%;
    height: 420px;
    }
    .solgan{
        left: 50%;
        transform: translate(-50%,50%);
    }
    
}
@media (max-width: 414px){
    .banner{
    display: block;
    background: url("../Hexrestaurant/img/header_mobile.png")no-repeat;
    width: 100%;
    height: 400px;
    }
    .solgan{
     left: 0%;
     width: 80%;
     height: auto;
     left: 50%;
     transform: translate(-50%,50%);
}}

.content{
    width: 100%;
    margin: 0 auto;
}
.sidebar{
    width: 20%;
    float: left;
}
.sidebar h2{
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.sidebar ul{
    width: 98%;
    margin: 1%;
}
.sidebar li{
    float: left;
    width: 90%;
    text-align: left;
   border-bottom: 1px solid #000;
   
    margin:0 10px;  
}
.sidebar li a{
    display: block  ;  
    color:#000;
    text-decoration:none;   
     padding: 16px;
}
.sidebar li a:hover{
    background-color:#3d1101;
    color: #fff;
}
@media (max-width: 414px){
    .sidebar{
        width: 98%;
        margin:1% auto;
    }
    .sidebar li{
        width: 100%;
        float: none;
    }
    .sidebar li a:hover{
        background-color:#3d1101;
        color: #fff;
    }
   }
@media (max-width: 768px){
    .sidebar{
        width: 98%;
        margin:1% ;
    }
    .sidebar li{
        width: 95%;
        float: none;
        text-align: center;
    }
   }

.cart{
    width: 80%;
    float: left;
}
@media (max-width: 414px){
.cart{
    width: 100%;
    float: none;
    }
}
    
@media (max-width: 768px){
.cart{
    width: 100%;
    float: none;
   }
}


.searchbar{
    float: left;
    width: 45%;
    padding: 10px;
    margin: 10px 0  10px 10px ;
    border: 3px solid #000;
}
.searchbar-btn{
    float: left;
    text-align: center;
    width: 20px;
    height: 16px;
    color: #fff;
    margin:10px 5px 5px 0;
    padding: 12px;
    background-color: #000;
    border-radius: 0 10px 10px 0;
}
.searchbar-btn:hover{
    color: #000;
    background-color: gray;
}
.searchbar-btn:focus{
  border: 1px solid white;
}

@media (max-width: 768px){
    .searchbar{
        width: 70%;
        height: 19px;   
        float: left;
    }
    .searchbar-btn{
        float: left;
        font-size: 33px;
        width: 18%;
        height: 32px;
        margin: 10px auto;
        padding: 6px;
   }}
@media (max-width: 414px){
    .searchbar{
        float: left;;
        width: 70%;
        height: 28px;
        margin: 0 auto;
    }
    .searchbar-btn{
        float: left;
        width: 16%;    
        font-size:34px;
        margin: 0 auto;
        padding:11px;
   }}

   
.checkout{
    float: right;   
    margin-right: 30px;
}
.checkout a{ 
    color:#000;
    padding:5px;
    font-size: 30px;
    text-decoration: none; 
}
.checkout-btn{
    padding: 10px;
    margin: 0 5px;
    color:#000;
    border-left:2px solid #000;
}

   @media (max-width: 768px){
    .checkout{
        position: fixed;
        top: 390px;
        right: 0;
        margin: 0;
        width: 100px;
        height: 100px;
        color: #3d1101;   
        background-color: #fff ;  
        border:2px solid #000;
        border-radius: 10px;
        z-index: 1000000;
    }
    .checkout-btn{
        padding: 16px;
        margin: 0 10px;
        color:#000;
        border-left:none;
    }
   }
   @media (max-width: 414px){
    .checkout{
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 0;
        width: 100px;
        height: 100px;
        color:#3d1101 ;   
        background-color:  #fff;  
        border:2px solid #000;
        border-radius: 10px;
        z-index: 1000000;
    }
    .checkout-btn{
        padding: 16px;
        margin: 0 10px;
        color:#000;
        border-left:none;
    }
   }

.product{
    width:100%;
    float: left;
}
.product li{
    position: relative;
    width: 30%;
    float: left; 
    margin:1%;
    box-shadow: 1px 1px 2px #000;
}

@media (max-width: 768px){
    .product{ 
        float:none;
    }
    .product ul{
        width: 100%;
    }
    .product li{
        position: none;
        width: 46%;
        margin: 2%;
        text-align: center;
    }
    .product li img{
        width: 100%;
        height: 160px;
    }
   }
   @media (max-width: 414px){
    .product{ 
        float:none;
    }
    .product ul{
        width: 92%;
        margin: 4%    ;
    }
    .product li{
        width: 92%;
        margin: 4%;
        float: none;
        text-align: center;
    }   
   }

.fa-heart{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    width: 50px;
    height: 50px;
    color: #fff;
    border: none;
    background-color:transparent;
  
}
.fa-heart a{
    display: block  ;
    padding: 0 ;
    margin: 0;
    text-decoration: none;
}

.line {
    border: 0;
    width: 70px;    
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
                                }
                            
.product img{
    height: 100px;
}
.product a{
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    text-decoration: none;
}
.product h2{
    font-size: 20px;
    color: #3D1101 ;
    text-align: center;
    padding: 10px;
}
.product p{
    font-size: 16px;
    color: #3D1101;
    text-align: center; 
    padding: 5px;
}
.product h4{
    width: 80%;
    text-align: center;
    font-size: 20px;
    color: orange;
    line-height: 15px;
    border: 2px solid orange;
    padding: 5px;
    margin: 0 auto;
}

.cart h4:hover{
    color: tomato;
    border:2px solid tomato;
}

@media (max-width: 768px){
.product img{
    width: 100%;
} 
.product h4{
   display: block;
}}
@media (max-width: 414px){
.product img{
    width: 100%;
    } 
    }
    
.footer{
    max-width: 100%;
    background-color: #EFE9E7; 
}
.footer h2{
    font-size: 25px;
    margin: 10px 10px 0  10px;
    padding: 5px 10px 0 10px;}


.about {   
   float: left;
    width: 30%;
   }
.about p{
    font-size: 16px;
    padding:0 10px 0 10px;
    margin: 0 10px 0 10px;
}
.contact{   
    float: left;
    width: 30%;
    margin-left: 70px;
}
.contact ul {
   text-align: left;
   padding:15px 0 0 0 ;
}
.contact ul li{
   list-style-type:disc;
   padding: 5px 0;
}
.footerlogo{
    float: right;
    width: 200px;
    padding: 10px;
    margin-right: 20px;
}
.footerlogo a{
    display: block;
    background-image: url("../Hexrestaurant/img/logo_l@svg.svg")no-repeat;
}
.link{
    width: 30%;
    float: right;
    margin-right: 10px;
}
.fb a{
    float: right;
    width: 30px;
    height: 30px;
    margin: 10px ;
}

.twitter a{
    float: right;
    width: 30px;
    height: 30px;
    margin: 10px;
}

.ig a{
    float: right;
    width: 30px;
    height: 30px;
    margin: 10px;
}

@media (max-width: 414px){
    .footer{
        max-width: 100%;
        text-align: center;
    }
    .about{   
        float: none;
        width: 100%;
        text-align: center;
       }
    .about h2{
        text-align: left;
    }
    .about p{
        text-align: center;
        padding: 10px;
        margin: 10px;
    }
    .contact{   
        float: none;
        width: 100%;
        margin: 0 auto;
    }

    .contact h2{
       text-align: left;
    }
    .contact ul{
       text-align: left;
       padding: 10px;
       margin: 10px;
    }
    .contact ul li{
        margin: 5px;
    }
    .footerlogo {
        text-align: center;
        width: 100%;
        height:44px;
        padding: 0;
        margin: 20px 0;
        background-image: url("../Hexrestaurant/img/logo_l@svg.svg")no-repeat;
    }
    .link{
        width: 100%;
        height: auto;
        float: none;
        text-align: center;
    }
    .link a{
        display: block;
        width: 44px;
        height: 44px;
        cursor: pointer;
    }
}

@media (max-width: 768px){
    .footer{
        max-width: 100%;
        text-align: center;
    }
    .about{   
        float: none;
        width: 100%;
        text-align: center;
       }
    .about h2{
        text-align: center;
    }
    .about p{   
        text-align: center;
        padding: 10px;
        margin: 20px;
    }
    .contact{   
        float: none;
        text-align: center;
        width: 100%;
        margin-left: 0;
    }

    .contact h2{
       text-align: center;
    }
    .contact ul{
       text-align: center   ;
       padding: 10px;
       margin: 10px;
      
    }
    .contact ul li{
        text-align: center  ;   
        margin: 5px; 
        list-style-type:  none;
    }
    .footerlogo {
        text-align: center;
        width: 100%;    
        height:44px;
        padding: 0;
        margin: 20px 0;
        background-image: url("../Hexrestaurant/img/logo_l@svg.svg")no-repeat;
    }
    .link{
        width: 100%;
        height: auto;
        float: none;
        margin-left: 0;
        text-align: center;
    }
    .link a{
        display: block;
        width: 44px;
        height: 44px;
        cursor: pointer;
    }
}